*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
nav{
    background-color: #00000066;
    width: 100vw;
    height: 5vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}
main{
    
    position: relative;
    top: 5vh;
}
.position-static{
    /* wthis is the default document flow */
    position: static;
}
.position-absolute{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #00aa0033;
    width: 600px;
    z-index: 2;
}
.position-sticky{
    position: sticky;
    top: 5vh;
    background-color: #ffee00aa;
}
.back-to-top-button{
    position: fixed;
    bottom: 25px;
    right: 25px;
    border: 1px red solid;
    border-radius: 3px;
    background-color:yellow;
    padding: 10px;
    text-decoration: none;
}
a:hover{
    background-color: red;
    transition: 20s;
}