* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  background: rgb(63, 94, 251);
  background: linear-gradient(
    90deg,
    rgba(63, 94, 251, 1) 0%,
    rgba(108, 88, 216, 1) 24%,
    rgba(165, 81, 173, 1) 54%,
    rgba(193, 77, 151, 0.5775560224089635) 69%,
    rgba(252, 70, 107, 1) 100%
  );
  padding: 20px;
}
nav {
  background: rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(126, 191, 132, 1) 42%,
    rgba(146, 190, 119, 1) 51%,
    rgba(181, 189, 95, 1) 67%,
    rgba(194, 189, 86, 1) 73%,
    rgba(253, 187, 45, 1) 100%
  );
  padding: 10px;
}
.contact-information {
  background: rgb(63, 94, 251);
  background: linear-gradient(
    90deg,
    rgba(63, 94, 251, 1) 0%,
    rgba(108, 88, 216, 1) 24%,
    rgba(165, 81, 173, 1) 54%,
    rgba(193, 77, 151, 0.5775560224089635) 69%,
    rgba(252, 70, 107, 1) 100%
  );
  text-align: center;
  font-size: 80px;
}
.button {
  float: right;
  border: 1px red solid;
  border-radius: 3px;
  background-color: yellow;
  padding: 10px;
  text-decoration: none;
}

.background-image {
  background-image: url(https://www.freecodecamp.org/news/content/images/2022/12/main-image.png);
}
.first-box {
  background-color: #22c1c3;
  width: 500px;
  height: 100px;
  margin: 20px;
  border: 10px solid black;
  border-radius: 40px;
  
}
.second-box {
  background-color: #22c1c3;
  width: 500px;
  height: 100px;
  margin: 20px;
  border: 10px solid black;
  border-radius: 40px;
}
.third-box {
  background-color: #22c1c3;
  width: 500px;
  height: 100px;
  margin: 20px;
  border: 10px solid black;
  border-radius: 40px;
}
.fourth-box {
  background-color: #22c1c3;
  width: 500px;
  height: 100px;
  margin: 20px;
  border: 10px solid black;
  border-radius: 40px;
}
.fifth-box {
  background-color: #22c1c3;
  width: 500px;
  height: 100px;
  margin: 20px;
  border: 10px solid black;
  border-radius: 40px;
}
.html-first-box {
  background-color: #22c1c3;
  width: 500px;
  height: 100px;
  margin: 20px;
  border: 10px solid black;
  border-radius: 40px;
  box-shadow: 0 0 30px 10px #b83c3c;
}

.html-second-box {
  background-color: #22c1c3;
  width: 500px;
  height: 100px;
  margin: 20px;
  border: 10px solid black;
  border-radius: 40px;
  box-shadow: 0 0 30px 10px #b83c3c;
}
.html-third-box {
  background-color: #22c1c3;
  width: 500px;
  height: 100px;
  margin: 20px;
  border: 10px solid black;
  border-radius: 40px;
  box-shadow: 0 0 30px 10px #b83c3c;
}
.html-fourth-box {
  background-color: #22c1c3;
  width: 500px;
  height: 100px;
  margin: 20px;
  border: 10px solid black;
  border-radius: 40px;
  box-shadow: 0 0 30px 10px #b83c3c;
}
.text-position {
  font-size: 30px;
  position: absolute;
  right: 0;
  top: 150px;
  left: 700px;
  color: white;
}
.footer-something {
  background: rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(146, 190, 119, 0.4206932773109243) 6%,
    rgba(108, 191, 144, 1) 34%,
    rgba(126, 191, 132, 1) 42%,
    rgba(135, 191, 126, 1) 46%,
    rgba(139, 191, 123, 1) 48%,
    rgba(181, 189, 95, 1) 67%,
    rgba(194, 189, 86, 1) 73%,
    rgba(253, 187, 45, 1) 100%
  );
  width: 100%;
  height: 50px;
}
main{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.main-html{
  display: flex;
  align-items: center;
  overflow: hidden;
}
@media screen and (max-width: 400px) {
    article{
       float: left;
    }
    main{
        margin: auto;
    }
    
}
.java-homework-header{
  background: rgb(34, 193, 195);
  background: linear-gradient
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(146, 190, 119, 0.4206932773109243) 6%,
    rgba(108, 191, 144, 1) 34%,
    rgba(126, 191, 132, 1) 42%,
    rgba(135, 191, 126, 1) 46%,
    rgba(139, 191, 123, 1) 48%,
    rgba(181, 189, 95, 1) 67%,
    rgba(194, 189, 86, 1) 73%,
    rgba(253, 187, 45, 1) 100%;
}

.background-image2{
  background-image: url(https://miro.medium.com/v2/resize:fit:1200/1*LyZcwuLWv2FArOumCxobpA.png);
  
}
.box{
  background-color: #22c1c3;
  width: 500px;
  height: 100px;
  margin: 20px;
  border: 10px solid black;
  border-radius: 40px;
  position: absolute; left: 500px;
}
.text{
text-align: center;
margin-top: 25px;
font-size: 1.5rem;
  
}


