header {
    text-align: center;
    background-color: #6B8E23;
}
body {
    text-align: left;
    background-color:#C70039;
    color: beige;
}
img {
    float: none;
}
h2{
    text-align: center;
    background-color: beige;
}
h3{
    text-align: left;
    background-color: beige;
    color: black;
    font-size: 35px;
}
body{
    font-style: italic;
    font-size: 25px;
}