*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body img{
    width: 100%;
    height: 100%;
}
h1{
    text-align: center;
    font-size: 3rem;
    background: rgb(63, 94, 251);
    background: linear-gradient(
      90deg,
      rgba(63, 94, 251, 1) 0%,
      rgba(108, 88, 216, 1) 24%,
      rgba(165, 81, 173, 1) 54%,
      rgba(193, 77, 151, 0.5775560224089635) 69%,
      rgba(252, 70, 107, 1) 100%
    );
}
.box{
    background-color: #22c1c3;
    width: 500px;
    height: 100px;
    margin: 20px;
    border: 10px solid black;
    border-radius: 40px;
}
main{
    display: flex;
    align-items: center;
    flex-direction: column;
}
